<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>401</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">403</h1>
        <p class="subtitle"> You are trying to access content that does not belong to you 🔫 GTFO!</p>
        <div class="buttons">
          <a href="/" class="button is-dark">Home</a>
          <a href="/" class="button">Contact us</a>
        </div>
        <p>Your ip was logged : <%= ip %></p>
      </div>
    </section>

  </body>
</html>
