<div class="column is-4-tablet is-3-desktop is-2-widescreen">
            <aside class="menu">
              <p class="menu-label">
                General
                </p>
              <ul class="menu-list">
                <li>
                  <a href="#">
                    <span class="icon">
                      <i class="fas fa-user-circle"></i>
                    </span>
                    <%= username %>
                  </a>
                </li>
                <li><a href="#">Maps</a></li>
                <li><a href="#">Space</a></li>
              </ul>
              <p class="menu-label">
                Administration
              </p>
              <ul class="menu-list">
                <li><a>Payments</a></li>
                <li>
                  <a>Withdrawals</a>
                  <ul>
                    <li><a>Send</a></li>
                    <li><a>Receive</a></li>
                    <li><a>Recipients</a></li>
                  </ul>
                </li>
                <li><a>Transfers</a></li>
                <li><a>Fraud</a></li>
              </ul>

            </aside>
          </div>
