<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bulma.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <title>Add product</title>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <section class="hero is-fullheight">
        <div class="hero-body">
          <div class="container">
            <div class="columns is-centered">
              <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                <form action="/new-pwd" method="POST" class="box">
                  <div class="field">
                    <label class="label">password</label>
                    <div class="control has-icons-left">
                      <input class="input" name="password" type="password" placeholder="**********" required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">confirmation (OSEF)</label>
                    <div class="control has-icons-left">
                      <input class="input" type="password" placeholder="**********" required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">security token</label>
                    <input readonly="true" class="input" type="text" name="token" value="<%=token%>">
                  </div>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <input type="hidden" name="userID" value="<%=_id%>">
                  <div class="field">
                    <button type="submit" class="button is success">
                      Validate
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  </body>
</html>
